{% extends "base.twig" %}
{% import 'partial/ui.twig' as ui %}

{% block content %}
{# {{dump(page.type)}} #}
	{% include "partial/row-heading.twig" with {post: page.type} %}
  <section class='row'>
    <div class='row-inner'>
      <div class='col x-lrg-col-5 lrg-col-5 med-col-10 sml-col-10'>
        <div class='col-inner'>
          {{ ui.search('Search method titles...', faq_term ~ '-search') }}
           <div class="search-wrapper">
            {% for method in education_methods %}
              {{ ui.method_card(method, method.slug) }}
            {% endfor %}
           </div>
        </div>
      </div>
    </div>
  </section>
	{% include "partial/row-still-have-questions.twig" %}
	{% include "partial/row-stay-informed.twig" %}
{% endblock %}  