{% extends "base.twig" %}
{% import 'partial/ui.twig' as ui %}

{% block content %}
{# {{dump(page.type)}} #}
	{% include "partial/row-heading.twig" with {post: page.type} %}
  <section class='row'>
    <div class='row-inner'>
      <div class='col x-lrg-col-5 lrg-col-5 med-col-10 sml-col-10'>
        <div class='col-inner'>
          {% for faq_term in faq_terms|keys %}
            <li>{{ faq_terms[faq_term] }}</li>
            {% set current_name_str = faq_term|slice(0,2) ~ '_loop'%}
            {% for post in attribute(_context, current_name_str) %}
              <h1>{{ post.title }}</h1>
            {% endfor %}
          {% endfor %}           
        </div>
      </div>
      <div class='col x-lrg-col-5 lrg-col-5 med-col-10 sml-col-10'>
        <div class='col-inner'>
          image
        </div>
      </div>
    </div>
  </section>
	{% include "partial/row-still-have-questions.twig" %}
	{% include "partial/row-stay-informed.twig" %}
{% endblock %}  