{% extends "base.twig" %}
{% import 'partial/ui.twig' as ui %}

{% block content %}
	{% include "partial/row-heading.twig" with {post: page, image: page.thumbnail} %}
  <section class='row main-row top-pad-0-5 bottom-pad-0-5'>
    <div class='row-inner'>
      <div class='col image x-lrg-col-4 lrg-col-4 med-col-10 sml-col-10'>
        <div class='col-inner'>
          {{ ui.image(page.image) }}
        </div>
      </div>
      <div class='col text x-lrg-col-6 lrg-col-6 med-col-10 sml-col-10'>
        <div class='col-inner'>
          {{ ui.side_tab(page.get_field('tabs')) }}
        </div>
      </div>
    </div>
  </section>
  {% include "partial/row-still-have-questions.twig" %}
  {% include "partial/row-stay-informed.twig" with { form_shortcode: options.form_shortcode } %}
{% endblock %}  