// Mixin Style Sheet
/*************************
MEDIA QUERY (MQ)
*************************/
@import "breakpoint";

/*************************
MEDIA QUERY (MQ)
*************************/
@mixin box-shadow {
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.16);
  transition: $transition;

  &:hover {
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.16);
  }

  // box-shadow: none !important;
}
