// Typography Base Style Sheet

/*********************
FONT FACE
*********************/
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");

// font stacks
$sans-serif: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$sans-serif-2: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif: "PT Serif", "Georgia", Cambria, Times New Roman, Times, serif;

// theme fonts
$body-font: 400 1rem / 1.6em $sans-serif-2;
$h1: 700 2rem / 1.2em $sans-serif;
$h2: 700 1.5rem / 1.4em $sans-serif;
$h3: 700 1.25rem / 1.4em $sans-serif;
$h4: 600 1.125rem / 1.4em $sans-serif;
$h5: 400 1.125rem / 1.6em $sans-serif;
$h6: 400 1.125rem / 1.6em $sans-serif;
$menu: 400 1rem / 1em $sans-serif;

// Setting universal font styles

h1,
.h1 {
  margin: 0;
  font: $h1;
  letter-spacing: 1.25px;
}

h2,
.h2 {
  margin: 0;
  font: $h2;
  color: $color1;
  letter-spacing: 0.5px;
  margin-bottom: 1rem;
}

h3,
.h3 {
  margin: 0;
  font: $h3;
  letter-spacing: 0.25px;
}

h4,
.h4 {
  margin: 0;
  font: $h4;
}

h5,
.h5 {
  margin: 0;
  font: $h5;
}

h6,
.h6 {
  margin: 0;
  font: $h6;
}

p {
  font: $body-font;
  word-break: break-word;
  word-wrap: break-word;
  margin: 0;
  margin-bottom: 1em;
  width: 100%;

  &:last-child {
    margin-bottom: 0;
  }

  // cleaning up the ragged lines and breaks
  // -webkit-hyphens: auto;
  // -moz-hyphens: auto;
  // hyphens: auto;

  // sets a minimum number of characters before and after the break
  // -webkit-hyphenate-before: 2;
  // -webkit-hyphenate-after: 3;
  // hyphenate-lines: 3;

  // enabling fancy ligatures when available
  //   -webkit-font-feature-settings: 'liga', 'dlig';
  //    -moz-font-feature-settings: 'liga=1, dlig=1';
  //       -ms-font-feature-settings: 'liga', 'dlig';
  //        -o-font-feature-settings: 'liga', 'dlig';
  //           font-feature-settings: 'kern' 1, 'dlig' 1;
}

::selection {
  background: $color1;
  color: $white;
}

.text-wrapper {
  ul {
    padding: 0;
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
    li {
      margin-bottom: 0.25em;

      &:last-child {
        margin-bottom: 0;
      }

      list-style: none;
      &::before {
        content: "\2022";
        font-weight: 300;
        display: inline-block;
        margin-right: 0.5em;
        color: var(--blue);
      }
    }
  }
}
