// Variables Style Sheet
/* Colours */

$color1: #00b396;
$color2: #005387;
$color3: #f6f6f6;
$color4: #00c5a5; // light mode hightlight
$color5: #009c83; // dark mode hightlight
$color-hover: #005387;
$color-active: #005387;

// for dark mode
$darkModeBlack: #0b0b0b;
$darkModeWhite: #f2f2f2;
$darkModeGray: #181818;
$darkModeGreen: #007966;
$darkModeBlue: #0080d0;

$color-p: #202020;
$text-gray: #a4a3a6;
$white: #ffffff;
$gray: #e5e5e5;
$black: #000000;
$shadow: rgba(0, 0, 0, 0.16);

:root {
  --green: #{$color1};
  --highlight-green: #{$color4};
  --blue: #{$color2};
  --white: #{$white};
  --gray: #{$color3};
  --p: #{$color-p};
}

/* Spacing / Padding */
$col-vw: 100vw / 12;

$standard: 120px;

//transitions
$transition: 0.45s cubic-bezier(0.23, 0.55, 0.49, 0.8);
$transition-slow: 0.65s cubic-bezier(0.23, 0.55, 0.49, 0.8);
$transition-slower: 0.85s cubic-bezier(0.23, 0.55, 0.49, 0.8);

$transition-tile: 0.3s cubic-bezier(0.23, 0.55, 0.49, 0.8);

// border thickness
$border-width: 2px;

// common device break points
$desktop-break: 1920px;
$desktop-break-med: 1710px;
$desktop-break-sml: 1550px;
$laptop-break: 1440px;
$laptop-break-sml: 1250px;
$tablet-break: 1024px;
$tablet-break-sml: 768px;
$mobile-break: 650px;
$mobile-break-sml: 340px;
