// About Style Sheet
.row {
    &.about {
        .row-inner {
            min-height: 800px;

            // min-height: 100vh;
            // min-height: calc(100vh - 200px);
            align-items: center;
            justify-content: flex-start;

            .col {
                width: ($col-vw * 5) !important;

                @include breakpoint($laptop-break) {
                    width: 60% !important;
                }


                @include breakpoint($tablet-break) {
                    width: 80% !important;
                }


                @include breakpoint($mobile-break) {
                    width: 100% !important;
                }


                .text-wrapper {
                    padding-bottom: 3rem;

                    p {
                        // &:first-child {
                        //     span {
                        //         display: inline-block;
                        //         animation: slideUp $transition-slow forwards;
                        //         opacity: 0;

                        //         @for $i from 1 through 60 {
                        //             &:nth-child(#{$i}) {
                        //                 animation-delay: #{$i / 30}s;
                        //             }
                        //         }
                        //     }
                        // }

                        // &:last-child {
                        //     span {
                        //         display: inline-block;
                        //         animation: slideUp $transition-slow forwards;
                        //         opacity: 0;

                        //         @for $i from 1 through 60 {
                        //             &:nth-child(#{$i}) {
                        //                 animation-delay: #{$i / 30 + 4}s;
                        //             }
                        //         }
                        //     }
                        // }
                   
                    }
                }

                .social-wrapper {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    a {
                        padding: 2.75rem;

                        .img-wrapper {
                            width: 40px;

                            // opacity: 0;
                            // animation: slideUp $transition-slow forwards;
                            // animation-delay: 4.85s;
                       
                        }
                    }
                }
            }
        }
    }
}

+ footer {
    display: none;
}