.page-template-already-started {
  @include button-wrapper;
  .row.intro {
    padding-top: $col-vw / 2;
    padding-bottom: $col-vw / 2;
    padding-left: $col-vw;
    overflow: hidden;
    padding-right: $col-vw;

    @include breakpoint($tablet-break) {
      padding-top: $col-vw;
      padding-bottom: $col-vw;
    }

    .row-inner {
      align-items: center;
    }

    .text {
      width: $col-vw * 5;
      padding-left: $col-vw;
      padding-right: $col-vw;

      @include breakpoint($laptop-break) {
        padding-left: 0;
      }

      @include breakpoint($tablet-break) {
        width: 100%;
        padding-left: $col-vw;
        padding-right: $col-vw;
      }

      @include breakpoint($mobile-break) {
        padding-left: 0;
        padding-right: 0;
      }
    }

    .image {
      width: $col-vw * 5;

      @include breakpoint($tablet-break) {
        width: 100%;
        padding-top: $col-vw;
      }

      .img-wrapper {
        position: relative;
        padding-bottom: $col-vw/4;

        @include breakpoint($tablet-break) {
          padding-bottom: $col-vw/2;
        }

        &::before {
          content: "";
          width: $col-vw * 5.75;
          height: $col-vw;
          background: var(--green);
          position: absolute;
          bottom: 0;
          left: $col-vw/4;
          z-index: -1;

          @include breakpoint($tablet-break) {
            left: $col-vw/2;
            height: $col-vw * 2;
            width: $col-vw * 10.75;
          }
        }
      }
    }
  }

  .organizations {
    background: var(--gray);
    padding-top: $col-vw / 2;
    padding-bottom: $col-vw / 2;
    padding-left: $col-vw;
    padding-right: $col-vw;

    @include breakpoint($tablet-break) {
      padding-top: $col-vw;
      padding-bottom: $col-vw;
    }

    .image {
      width: $col-vw * 5;
      padding-right: $col-vw;
      padding-left: $col-vw / 2;

      @include breakpoint($laptop-break) {
        padding-left: 0;
      }

      @include breakpoint($tablet-break) {
        display: none;
      }
    }

    .orgs {
      width: $col-vw * 5;
      padding-right: $col-vw * 2;

      @include breakpoint($laptop-break) {
        padding-right: $col-vw;
      }

      @include breakpoint($tablet-break) {
        width: 100%;
        padding-left: $col-vw;
        padding-right: $col-vw;
      }

      @include breakpoint($mobile-break) {
        padding-left: 0;
        padding-right: 0;
      }

      .organization {
        padding-bottom: $col-vw/2;

        @include breakpoint($tablet-break) {
          padding-bottom: $col-vw * 0.75;
        }

        @include breakpoint($mobile-break) {
          padding-bottom: 4rem;
        }

        &:last-child {
          padding-bottom: 0;
        }

        .section {
          padding-bottom: 2.5rem;

          &:last-child {
            padding-bottom: 0;
          }

          img {
            height: 80px;
            width: auto;

            @include breakpoint($mobile-break) {
              height: 60px;
            }
          }
        }
      }
    }
  }
}

.still-have-questions {
  position: relative;
  margin-bottom: $col-vw/2;

  @include breakpoint($tablet-break) {
    margin-bottom: $col-vw;
  }

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    background: var(--gray);
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
  }

  &::after {
    content: "";
    width: 100%;
    height: $col-vw;
    background: var(--blue);
    position: absolute;
    left: 0;
    bottom: -$col-vw/2;
    z-index: -1;

    @include breakpoint($tablet-break) {
      height: $col-vw * 2;
      bottom: -$col-vw;
    }
  }
}
