// Before & After Style Sheet
.row {
    &.before-after {
        padding: 0 ($col-vw * 2.5) !important;

        @include breakpoint($laptop-break) {
            padding: 0 ($col-vw * 1.5) !important;
        }


        @include breakpoint($tablet-break) {
            padding: 0 $col-vw !important;
        }


        .col-inner {
            text-align: center;

            .text-wrapper {
                padding-top: $col-vw / 2;
                padding-bottom: $col-vw;

                @include breakpoint($tablet-break) {
                    padding-bottom: $col-vw * 1.5;
                }


                @include breakpoint($mobile-break) {
                    padding-bottom: $col-vw;
                }
            }

            .item-wrapper {
                margin-bottom: $col-vw * 1;

                @include breakpoint($tablet-break) {
                    margin-bottom: $col-vw * 1;
                }


                @include breakpoint($mobile-break) {
                    margin-bottom: $col-vw * 1;
                }


                img {
                    width: 100%;
                }

                .images-compare-separator {
                    width: 3px;
                }
            }
        }
    }
}