// Blue Ocean Style Sheet
.row {
    &.page-title {
        .col {
            padding-bottom: 0;

            h1 {
                max-width: 100%;
            }
        }
    }

    &.logo {
        padding: ($col-vw * 2.5) ($col-vw * 3) !important;

        @include breakpoint($tablet-break) {
            padding-left: ($col-vw * 2) !important;
            padding-right: ($col-vw * 2) !important;

            @include s-padding-top($standard);
            @include s-padding-bottom($standard);
        }
    }

    &.concepts {
        padding-left: ($col-vw * 3.5) !important;
        padding-right: ($col-vw * 3.5) !important;

        @include breakpoint($tablet-break) {
            @include side-gutters-x-lrg;
        }
    }

    &.background {
        height: $col-vw * 5;
        background-size: cover !important;
        background-position: center !important;

        @include breakpoint($laptop-break) {
            height: $col-vw * 5.5;
        }


        @include breakpoint($tablet-break) {
            height: $col-vw * 6.5;
        }


        @include breakpoint($mobile-break) {
            height: $col-vw * 7.5;
        }
    }

    &.logo-development {
        padding: 0 !important;

        .col-inner {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .img-wrapper {
                width: $col * 3;
                margin-bottom: $col / 2;

                @include breakpoint($tablet-break) {
                    width: $col * 4.75;
                }


                @include breakpoint($mobile-break) {
                    width: $col * 8;
                    margin: 0 $col;
                    margin-bottom: $col;
                }


                &:nth-child(1) {
                    margin-left: $col;

                    @include breakpoint($mobile-break) {
                        margin: 0 ($col * 2);
                        margin-bottom: $col;
                    }
                }

                &:nth-child(2) {
                    @include breakpoint($tablet-break) {
                        margin-right: $col;
                    }


                    @include breakpoint($mobile-break) {
                        margin: 0 ($col * 2);
                        margin-bottom: $col;
                    }
                }

                &:nth-child(3) {
                    margin-right: $col;

                    @include breakpoint($tablet-break) {
                        margin-left: $col;
                        margin-right: 0;
                    }


                    @include breakpoint($mobile-break) {
                        margin: 0 ($col * 2);
                        margin-bottom: $col;
                    }
                }

                &:nth-child(4) {
                    margin-bottom: 0;
                    margin-left: $col * 2.75;

                    @include breakpoint($tablet-break) {
                        margin-right: $col;
                        margin-left: 0;
                        margin-bottom: $col / 2;
                    }


                    @include breakpoint($mobile-break) {
                        margin: 0 ($col * 2);
                        margin-bottom: $col;
                    }
                }

                &:nth-child(5) {
                    margin-bottom: 0;
                    margin-right: $col * 2.75;
                    margin-left: 0;

                    @include breakpoint($tablet-break) {
                        margin: 0;
                        margin-left: $col * 3 + $col / 3 * 2;
                    }


                    @include breakpoint($mobile-break) {
                        margin: 0 ($col * 2);
                    }
                }
            }
        }
    }

    &.images-1 {
        .col-inner {
            display: flex;
            flex-wrap: nowrap;

            @include breakpoint($mobile-break) {
                flex-wrap: wrap;
            }


            .first {
                width: $col-vw * 5.5;
                margin-top: $col-vw * 1.25;

                @include breakpoint($mobile-break) {
                    width: 100%;
                    padding: 0 $col-vw;
                    margin: 0;
                }
            }

            .second {
                width: $col-vw * 5.5;
                margin-left: $col-vw;
                overflow: hidden;

                @include breakpoint($mobile-break) {
                    width: 100%;
                    padding: $col-vw $col-vw 0;
                    margin: 0;
                }
            }
        }
    }

    &.images-2 {
        padding-top: $col-vw;
        padding-left: ($col-vw * 2) !important;
        padding-right: ($col-vw * 2) !important;

        @include breakpoint($mobile-break) {
            padding-left: $col-vw !important;
            padding-right: $col-vw !important;
        }
    }

    &.color-typ {
        h3 {
            font-family: $sans-serif;
            padding-bottom: 3rem;

            @include breakpoint($tablet-break) {
                padding-bottom: 2rem;
            }


            @include breakpoint($mobile-break) {
                padding-bottom: 1.5rem;
            }
        }

        .col {
            display: flex;
            flex-direction: column;
            justify-content: stretch;
            width: 50% !important;

            @include breakpoint($mobile-break) {
                width: 100% !important;
                padding: 0 $col-vw !important;
            }


            .col-inner {
                width: 100%;
                display: flex;
                flex-direction: column;
                height: 100%;
                justify-content: space-between;
            }

            &.color {
                padding-right: $col-vw;

                @include breakpoint($laptop-break) {
                    padding-right: $col-vw / 1.5;
                }


                @include breakpoint($tablet-break) {
                    padding-right: $col-vw / 2;
                }


                @include breakpoint($mobile-break) {
                    padding-bottom: $col-vw !important;
                }


                h3 {
                    color: #00A0DF;
                }
            }

            &.typography {
                padding-left: $col-vw;

                @include breakpoint($laptop-break) {
                    padding-left: $col-vw / 1.5;
                }


                @include breakpoint($tablet-break) {
                    padding-left: $col-vw / 2;
                }
            }
        }
    }
}