// The Francis Effect Style Sheet
.row {
    &.page-title {
        h1 {
            max-width: 100%;

            @include breakpoint($tablet-break) {
                max-width: 27rem;
            }


            @include breakpoint($mobile-break) {
                max-width: 20rem;
            }
        }

        p,
        h1 {
            color: $black !important;
        }
    }

    &.background {
        height: $col-vw * 8;
        background-size: cover !important;
        background-position: center !important;

        @include breakpoint($laptop-break) {
            height: $col-vw * 8.5;
        }


        @include breakpoint($tablet-break) {
            height: $col-vw * 9.5;
        }


        @include breakpoint($mobile-break) {
            height: $col-vw * 10.5;
        }
    }

    &.images-1 {
        padding-bottom: $col-vw / 2;

        @include breakpoint($mobile-break) {
            padding-bottom: 0;
        }


        .col-inner {
            display: flex;
            flex-wrap: nowrap;

            @include breakpoint($mobile-break) {
                flex-wrap: wrap;
            }


            .first {
                width: $col-vw * 5.5;
                margin-left: $col-vw * 1.5;
                display: flex;
                align-items: flex-end;

                @include breakpoint($tablet-break) {
                    margin-left: $col-vw;
                }


                @include breakpoint($mobile-break) {
                    width: 100%;
                    margin: 0;
                    bottom: 0;
                    padding-bottom: $col-vw;

                    img {
                        width: $col-vw * 10;
                        margin: 0 auto;
                        display: block;
                    }
                }
            }

            .second {
                width: $col-vw * 2.65;
                margin-left: $col-vw / 2;
                position: relative;
                bottom: -$col-vw * 1.5;

                @include breakpoint($tablet-break) {
                    width: $col-vw * 3.25;
                }


                @include breakpoint($mobile-break) {
                    width: 100%;
                    margin: 0;
                    bottom: 0;
                    padding-bottom: $col-vw;

                    img {
                        width: $col-vw * 6;
                        margin: 0 auto;
                        display: block;
                    }
                }
            }
        }
    }

    &.images-2 {
        padding-bottom: $col-vw / 2;

        .col-inner {
            display: flex;
            flex-wrap: nowrap;

            @include breakpoint($mobile-break) {
                flex-wrap: wrap;
            }


            .third {
                width: $col-vw * 4;
                margin-left: $col-vw * 2;

                @include breakpoint($tablet-break) {
                    margin-left: $col-vw * 1.5;
                    width: $col-vw * 4.5;
                }


                @include breakpoint($mobile-break) {
                    width: 100%;
                    margin: 0;
                    bottom: 0;
                    padding-bottom: $col-vw;

                    img {
                        width: $col-vw * 8;
                        margin: 0 auto;
                        display: block;
                    }
                }
            }

            .fourth {
                width: $col-vw * 4.5;
                margin-left: $col-vw / 2;
                position: relative;
                bottom: -$col-vw * 1.5;

                @include breakpoint($tablet-break) {
                    width: $col-vw * 5.5;
                }


                @include breakpoint($mobile-break) {
                    width: 100%;
                    margin: 0;
                    bottom: 0;
                    padding-bottom: $col-vw;

                    img {
                        width: $col-vw * 10;
                        margin: 0 auto;
                        display: block;
                    }
                }
            }
        }
    }

    &.images-3 {
        padding-bottom: $col-vw * 1.5;

        .col-inner {
            display: flex;
            flex-wrap: nowrap;

            @include breakpoint($mobile-break) {
                flex-wrap: wrap;
            }


            .fifth {
                width: $col-vw * 5.5;
                margin-left: $col-vw / 2;
                position: relative;
                top: -$col-vw / 3;

                @include breakpoint($tablet-break) {
                    margin-left: 0;
                    width: $col-vw * 6;
                    top: -$col-vw / 2;
                }


                @include breakpoint($mobile-break) {
                    width: 100%;
                    margin: 0;
                    bottom: 0;
                    padding-bottom: $col-vw;

                    img {
                        width: $col-vw * 10;
                        margin: 0 auto;
                        display: block;
                    }
                }
            }

            .sixth {
                width: $col-vw * 3;
                margin-left: $col-vw / 2;
                position: relative;
                bottom: -$col-vw * 1.5;

                @include breakpoint($tablet-break) {
                    width: $col-vw * 3.5;
                }


                @include breakpoint($mobile-break) {
                    width: 100%;
                    margin: 0;
                    bottom: 0;

                    img {
                        width: $col-vw * 7;
                        margin: 0 auto;
                        display: block;
                    }
                }
            }
        }
    }

    &.blu-ray {
        .col-inner {
            @include breakpoint($tablet-break) {
                justify-content: center;
                display: flex;
            }
        }

        .text-wrapper {
            margin-left: $col-vw;

            @include text-width;

            @include breakpoint($tablet-break) {
                margin-left: 0;
                align-items: flex-end;
            }
        }
    }

    &.packaging {
        padding-right: ($col-vw * 1.333) !important;
        padding-left: ($col-vw * 1.333) !important;
        overflow: hidden;

        @include breakpoint($tablet-break) {
            padding-right: 0 !important;
            padding-left: 0 !important;
        }


        img {
            @include breakpoint($tablet-break) {
                width: calc(100% + #{$col-vw});
                position: relative;
                left: -$col-vw / 2;
            }


            @include breakpoint($mobile-break) {
                width: 100%;
                left: initial;
            }
        }
    }

    &.print {
        padding-right: ($col-vw * 3) !important;
        padding-left: ($col-vw * 3) !important;

        @include breakpoint($tablet-break) {
            padding-right: ($col-vw * 2) !important;
            padding-left: ($col-vw * 2) !important;
        }


        @include breakpoint($mobile-break) {
            padding-right: ($col-vw * 1) !important;
            padding-left: ($col-vw * 1) !important;
        }
    }
}