.home {
  // Home Style Sheet
  .header {
    background: transparent;

    @include breakpoint($tablet-break) {
      background: var(--white);
    }

    &::before {
      transform: skewX(-10deg) translateY(-100%);
      transition: $transition;
    }

    &::after {
      content: "";
      width: 100%;
      height: 100%;
      background: var(--gray);
      position: absolute;
      left: 0;
      top: 0;
      transform: translateY(-100%);
      transition: $transition;
    }

    .menu-search-wrapper {
      > .main-menu {
        > ul > li > a {
          color: var(--white);

          @include breakpoint($tablet-break) {
            color: var(--p);
          }
        }
      }
    }

    .search-icon {
      color: var(--white);

      @include breakpoint($tablet-break) {
        color: var(--p);
      }
    }
    &.active {
      &::before {
        transform: skewX(-10deg) translateY(0%);
      }

      &::after {
        transform: translateY(0%);
      }
      .menu-search-wrapper {
        > .main-menu {
          > ul > li > a {
            color: var(--p);
          }
        }
      }
      .search-icon {
        color: var(--p);
      }
    }
  }

  .splash {
    overflow: hidden;
    background: var(--white);
    margin-top: 0;
    position: relative;

    @include breakpoint($tablet-break) {
      background: var(--white) !important;
    }

    &::after {
      top: 0;
      transform: rotate(180deg);
      z-index: 6;

      @include breakpoint($tablet-break) {
        display: none;
      }
    }

    &::before {
      content: "";
      width: $col-vw * 6;
      height: 100%;
      position: absolute;
      left: -$col-vw;
      top: 0;
      background: var(--white);
      transform: skewX(-10deg);
      z-index: 8;

      @include breakpoint($laptop-break) {
        width: $col-vw * 6.55;
      }

      @include breakpoint($tablet-break) {
        display: none;
      }
    }

    .video-wrapper {
      position: absolute;
      left: $col-vw * 2;
      width: 115%;
      height: 100%;
      padding-bottom: 52.625%;

      @include breakpoint($tablet-break) {
        display: none;
      }

      iframe {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        pointer-events: none;
        z-index: 2;
      }

      .video-cover {
        z-index: 4;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        img {
          position: absolute;
          left: 0;
          top: 0;
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
    }

    .splash-inner {
      min-height: calc(100vh);
      position: relative;
      z-index: 12;
      display: flex;
      align-items: center;

      @include breakpoint($tablet-break) {
        min-height: auto;
        margin-top: 70px;
        flex-wrap: wrap;
      }
    }

    .col {
      width: $col-vw * 5;
      padding-left: $col-vw;
      padding-right: $col-vw;
      padding-top: $col-vw/2;
      padding-bottom: $col-vw;

      @include breakpoint($laptop-break) {
        padding-right: 0;
      }

      @include breakpoint($tablet-break) {
        width: 100%;
        padding-left: $col-vw * 2;
        padding-right: $col-vw * 2;
        padding-top: $col-vw * 2;
        padding-bottom: calc(#{$col-vw * 2} + 4rem + (1.25rem * 1.4));
      }

      @include breakpoint($mobile-break) {
        padding-left: $col-vw;
        padding-right: $col-vw;
      }

      .col-inner {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        h3 {
          margin-bottom: 1rem;
          color: var(--p);
        }

        h1 {
          margin-bottom: 2rem;
          font-size: 3rem;
          color: var(--blue);
          letter-spacing: -1px;

          @include breakpoint($laptop-break) {
            font-size: 2.75rem;
          }

          @include breakpoint($tablet-break) {
            font-size: 2.5rem;
          }

          @include breakpoint($mobile-break) {
            font-size: 1.95rem;
            margin-bottom: 1rem;
          }
          @include breakpoint($mobile-break-sml) {
            font-size: 1.65rem;
          }

          span {
            color: var(--green);
          }
        }

        h5 {
          color: var(--p);
          font-weight: 600;
        }

        .button {
          &:last-child {
            margin-top: 1.25rem !important;
          }
        }
      }

      &.video {
        display: none;

        @include breakpoint($tablet-break) {
          // display: block;
          width: 100%;
          padding-top: 0;
          padding-right: $col-vw;
          padding-left: $col-vw;
          padding-bottom: $col-vw * 2;
        }

        @include breakpoint($mobile-break) {
          width: 100vw;
          padding-right: 0;
          padding-left: 0;
          left: -$col-vw;
        }

        .col-inner {
          background: var(--green);

          a {
            color: var(--white);
          }

          .img-wrapper {
            position: relative;

            &::before {
              content: "";
              width: 100%;
              height: 100%;
              background: var(--blue);
              opacity: 0.5;
              position: absolute;
              left: 0;
              top: 0;
              transition: $transition;
              z-index: 2;
            }

            svg {
              position: absolute;
              left: 50%;
              top: 50%;
              transform: translate(-50%, -50%);
              transition: $transition;
              width: 6rem;
              height: 6rem;
              z-index: 4;

              @include breakpoint($laptop-break) {
                width: 4rem;
                height: 4rem;
              }
            }
          }
        }
      }
    }
  }

  // Latest News
  .latest-news-row {
    background: var(--gray);
    position: relative;
    z-index: 20;
    padding-bottom: $col-vw/2;

    .row-inner {
      width: 100%;
    }

    .articles {
      margin-top: calc(-4rem - (1.25rem * 1.4));

      @include breakpoint($laptop-break) {
        margin-top: calc(-4rem - (1.1rem * 1.4));
      }

      @include breakpoint($tablet-break) {
        width: 100%;
        padding-left: $col-vw;
        padding-right: $col-vw;
      }

      .latest-news-wrapper {
        margin-top: $col-vw/2;
        @include breakpoint($tablet-break) {
          display: none;
        }
      }
    }

    .form {
      padding-left: $col-vw/2;
      padding-top: $col-vw/2;

      @include breakpoint($tablet-break) {
        padding-left: $col-vw * 2;
        padding-right: $col-vw * 2;
        padding-top: $col-vw;
        padding-bottom: $col-vw;
        width: 100%;
      }

      @include breakpoint($mobile-break) {
        padding-left: $col-vw;
        padding-right: $col-vw;
      }

      .section.group {
        input {
          background: var(--white) !important;
        }
      }

      .latest-news-wrapper {
        display: none;

        @include breakpoint($tablet-break) {
          display: block;
          margin-top: $col-vw;
          width: calc(100% + #{$col-vw * 2});
          left: -$col-vw;
        }

        @include breakpoint($mobile-break) {
          width: 100%;
          left: 0;
        }
      }
    }

    .tagline {
      padding-left: $col-vw;
      position: relative;
      display: block;

      @include breakpoint($laptop-break) {
        padding-left: $col-vw/2;
      }

      @include breakpoint($tablet-break) {
        padding-left: 0;
      }

      h3 {
        padding-top: 2rem;
        padding-bottom: 2rem;
        color: var(--white);

        @include breakpoint($laptop-break) {
          padding-left: $col-vw/2;
          font-size: 1.1rem;
          line-height: 1.4;
        }

        @include breakpoint($tablet-break) {
          padding-left: $col-vw;
          font-size: 1.25rem;
          line-height: 1.4;
        }

        @include breakpoint($mobile-break) {
          padding-left: 0;
          max-width: 17rem;
        }
      }

      &::before {
        content: "";
        width: calc(100% - #{$col-vw/4});
        height: $col-vw;
        background: var(--green);
        left: 0;
        top: 0;
        position: absolute;
        z-index: -1;
        @include breakpoint($laptop-break) {
          height: calc(2.5rem + #{$col-vw});
        }

        @include breakpoint($tablet-break) {
          height: $col-vw * 2;
          width: calc(100% + #{$col-vw/2});
          left: -$col-vw;
        }

        @include breakpoint($mobile-break) {
          height: calc(5.5rem + #{$col-vw});
        }
      }
    }

    .latest-news {
      outline: none !important;

      * {
        outline: none !important;
      }

      .latest-news-inner {
        background: var(--white);
        display: flex;
        flex-direction: column;

        &:hover {
          .info {
            h3 {
              color: var(--blue);
            }
          }
        }

        .image {
          width: 100%;
          height: $col-vw * 1.5;
          position: relative;

          @include breakpoint($laptop-break) {
            height: $col-vw * 1.75;
          }
          @include breakpoint($tablet-break) {
            height: $col-vw * 3.5;
          }

          @include breakpoint($mobile-break) {
            height: $col-vw * 5.5;
          }

          img {
            position: absolute;
            height: 100%;
            width: 100%;
            left: 0;
            top: 0;
            object-fit: cover;
          }
        }

        .info {
          padding: 2rem;

          @include breakpoint($laptop-break) {
            padding: 1rem;
          }

          h3 {
            color: var(--p);
            transition: $transition;
          }

          .date {
            margin-top: 1rem;
            color: var(--p);
            opacity: 0.75;
            p {
              font-size: 0.85rem;
            }
          }
        }
      }
    }

    .slick-list {
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
      background: var(--white);

      @include breakpoint($tablet-break) {
        border-radius: 10px;
      }
    }

    .slick-slider {
      position: relative;

      .slick-arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 2rem;
        height: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        @include box-shadow-dark-hover;
        background: var(--white);
        color: var(--blue);
        cursor: pointer;
        z-index: 10;

        @include breakpoint($mobile-break) {
          top: calc(#{$col-vw * 5.5} - 0.5rem);
          transform: none;
        }

        &.next {
          right: -1rem;

          @include breakpoint($tablet-break) {
            right: -1rem;
          }

          @include breakpoint($mobile-break) {
            right: -1rem;
          }
          svg {
            transform: rotate(180deg);
          }
        }
        &.prev {
          display: none !important;

          @include breakpoint($tablet-break) {
            display: flex !important;
            left: -1rem;
          }

          @include breakpoint($mobile-break) {
            left: -1rem;
          }
        }
      }
    }
    .slick-dots {
      margin: 0;
      padding: 0;
      margin-top: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;

      li {
        margin-right: 0.75rem;
        list-style: none;
        width: 0.5rem;
        height: 0.5rem;
        background: var(--p);
        opacity: 0.5;
        transition: $transition;
        border-radius: 100%;
        cursor: pointer;

        &.slick-active,
        &:hover {
          opacity: 1;
        }

        &:last-child {
          margin-right: 0;
        }

        button {
          display: none;
        }
      }
    }
  }

  // 5 Top Homeschool Questions
  .top-homeschool-questions {
    background: var(--gray);

    @include breakpoint($tablet-break) {
      padding-top: $col-vw;
      padding-bottom: $col-vw;
    }

    .row-inner {
      @include breakpoint($tablet-break) {
        flex-direction: column-reverse;
      }
    }

    .text {
      padding-left: $col-vw / 2;
      padding-right: $col-vw;

      @include breakpoint($laptop-break) {
        padding-right: 0;
      }

      @include breakpoint($tablet-break) {
        padding-left: $col-vw;
        padding-right: $col-vw;
        margin-bottom: $col-vw;
      }

      @include breakpoint($mobile-break) {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }

  // You’ve Decided to Homeschool… Now What?
  .now-what {
    position: relative;
    overflow: hidden;

    @include breakpoint($tablet-break) {
      padding-top: $col-vw;
      padding-bottom: $col-vw;
      margin-bottom: 0;
    }

    &::after {
      content: "";
      width: $col-vw * 4;
      height: 100%;
      background: var(--blue);
      position: absolute;
      right: -$col-vw;
      top: 0;
      transform: skewX(-10deg);
      z-index: -1;

      @include breakpoint($tablet-break) {
        display: none;
      }
    }

    .row-inner {
      align-items: center;
    }

    .text {
      padding-left: $col-vw;
      padding-right: $col-vw;

      @include breakpoint($laptop-break) {
        padding-left: 0;
      }

      @include breakpoint($tablet-break) {
        padding-left: $col-vw;
        padding-right: $col-vw;
        margin-bottom: $col-vw;
      }

      @include breakpoint($mobile-break) {
        padding-left: 0;
        padding-right: 0;
      }

      .download-wrapper {
        display: flex;
        flex-wrap: wrap;

        a {
          margin-right: 1rem;
          margin-top: 1rem !important;
        }
      }
    }

    .image {
      padding-right: $col-vw/2;

      @include breakpoint($laptop-break) {
        padding-right: 0;
      }

      .img-wrapper {
        position: relative;

        @include breakpoint($tablet-break) {
          padding-top: $col-vw/2;
        }

        &::after {
          content: "";
          width: $col-vw * 10.5;
          height: $col-vw * 2;
          background: var(--blue);
          position: absolute;
          top: 0;
          right: -$col-vw;
          z-index: -1;
          display: none;

          @include breakpoint($tablet-break) {
            display: block;
          }
        }
      }
    }
  }

  // intro section
  .what-is-homeschooling {
    padding-right: 0;

    @include breakpoint($tablet-break) {
      padding-bottom: $col-vw !important;
    }

    .row-inner {
      width: 100%;
      justify-content: center;

      @include breakpoint($tablet-break) {
        flex-direction: column-reverse;
      }
    }

    .image {
      width: $col-vw * 6;

      @include breakpoint($laptop-break) {
        width: $col-vw * 8;
      }

      @include breakpoint($tablet-break) {
        padding-left: $col-vw * 2;
        padding-right: $col-vw * 2;
        width: 100%;
      }
      @include breakpoint($mobile-break) {
        padding-left: $col-vw;
        padding-right: $col-vw;
      }

      .col-inner {
        margin-bottom: $col-vw/4;
        position: relative;

        @include breakpoint($tablet-break) {
          margin-bottom: $col-vw/2;
        }

        &::after {
          content: "";
          width: $col-vw * 8.75;
          height: $col-vw;
          background: var(--green);
          position: absolute;
          left: -$col-vw * 3;
          bottom: -$col-vw/4;
          z-index: -1;

          @include breakpoint($laptop-break) {
            width: $col-vw * 9.75;
            left: -$col-vw * 2;
          }

          @include breakpoint($tablet-break) {
            width: calc(100% + #{$col-vw * 1.5});
            bottom: -$col-vw/2;
            height: $col-vw * 2;
            left: -$col-vw * 2;
          }
        }
      }
    }
  }

  // Resources
  .resources {
    padding-left: $col-vw * 2;
    padding-right: $col-vw * 2;
    margin-bottom: -$col-vw/2;
    position: relative;
    z-index: 6;

    @include breakpoint($laptop-break) {
      padding-left: $col-vw;
      padding-right: $col-vw;
    }

    @include breakpoint($tablet-break) {
      margin-bottom: 0;
      background: var(--gray);
    }

    .col {
      width: 100%;
      background: var(--gray);
      padding: $col-vw/2 $col-vw;

      @include breakpoint($tablet-break) {
        padding: $col-vw 0;
      }

      .col-inner {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .text-wrapper {
        padding: 0 $col-vw * 1.5;
        text-align: center;

        @include breakpoint($tablet-break) {
          padding: 0 $col-vw;
        }

        @include breakpoint($mobile-break) {
          padding: 0;
        }
      }

      .cards {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        margin-top: 2rem;

        @include breakpoint($mobile-break) {
          padding: 0 $col-vw;
        }
        .card {
          @include row-item-grid(3, 1.5rem);

          @include breakpoint($mobile-break) {
            @include row-item-grid(1, 1rem);
          }

          .card-inner {
            background: var(--white);
            padding: 2rem;
            display: flex;
            align-items: center;
            flex-direction: column;
            border-radius: 10px;
            @include box-shadow-dark-hover;

            @include breakpoint($tablet-break) {
              padding: 2rem 1rem;
            }

            .svg {
              margin-bottom: 0.5rem;
            }

            h3 {
              text-align: center;

              @include breakpoint($desktop-break-med) {
                font-size: 1rem;
              }
            }
          }
        }
      }
    }
  }

  // Education Methods
  .education-methods {
    padding-left: $col-vw;
    background-size: 70%;
    background-position: right top;
    position: relative;

    @include breakpoint($tablet-break) {
      padding-top: $col-vw;
      padding-right: $col-vw;
      padding-bottom: $col-vw;
    }

    .row-inner {
      position: relative;
      z-index: 4;
    }

    .text {
      padding-left: $col-vw;
      padding-top: $col-vw * 1.5;
      padding-bottom: $col-vw;
      position: relative;
      width: $col-vw * 4;

      @include breakpoint($laptop-break) {
        padding-left: 0;
      }

      @include breakpoint($tablet-break) {
        padding-left: $col-vw;
        padding-right: $col-vw;
        padding-top: 0;
        padding-bottom: $col-vw;
        width: 100%;
      }
      @include breakpoint($mobile-break) {
        padding-left: 0;
        padding-right: 0;
      }

      &::before {
        content: "";
        width: $col-vw * 6;
        height: 100%;
        left: -$col-vw;
        top: 0;
        background: var(--white);
        position: absolute;
        transform: skewX(-10deg);
        z-index: 2;

        @include breakpoint($tablet-break) {
          display: none;
        }
      }

      .col-inner {
        position: relative;
        z-index: 4;
      }
    }

    .image {
      width: $col-vw * 7;
      background-size: cover;
      background-repeat: no-repeat;
      position: relative;

      @include breakpoint($tablet-break) {
        width: 100%;
        height: $col-vw * 6;
        margin-bottom: $col-vw/2;
      }

      &::after {
        content: "";
        width: $col-vw * 10.5;
        height: $col-vw * 2;
        background: var(--green);
        position: absolute;
        bottom: -$col-vw/2;
        left: -$col-vw;
        z-index: -1;
        display: none;

        @include breakpoint($tablet-break) {
          display: block;
        }
      }
    }
  }

  // Stories
  .stories {
    padding-top: $col-vw/2;
    padding-left: $col-vw * 2;
    padding-right: $col-vw;
    position: relative;

    @include breakpoint($laptop-break) {
      padding-left: $col-vw;
    }

    @include breakpoint($tablet-break) {
      padding-top: $col-vw;
    }

    &::after {
      content: "";
      width: 100%;
      height: $col-vw * 1.25;
      background: var(--green);
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: -1;

      @include breakpoint($tablet-break) {
        height: $col-vw * 2;
      }
      @include breakpoint($mobile-break) {
        height: $col-vw * 4.5;
      }
    }

    .row-inner {
      width: 100%;
      .col {
        width: 100%;
      }
    }

    h2 {
      margin-bottom: 1.25rem;
    }

    .articles-wrapper {
      margin-bottom: $col-vw/2;

      @include breakpoint($mobile-break) {
        margin-bottom: $col-vw;
      }

      &.slick-slider {
        position: relative;

        .slick-arrow {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          width: 2rem;
          height: 2rem;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 100%;
          @include box-shadow-dark-hover;
          background: var(--white);
          color: var(--blue);
          cursor: pointer;
          z-index: 10;

          @include breakpoint($mobile-break) {
            top: calc(#{$col-vw * 5.5} - 0.5rem);
            transform: none;
          }

          &.next {
            right: -4rem;

            @include breakpoint($tablet-break) {
              right: -3rem;
            }

            @include breakpoint($mobile-break) {
              right: -1rem;
            }
            svg {
              transform: rotate(180deg);
            }
          }
          &.prev {
            left: -4rem;

            @include breakpoint($tablet-break) {
              left: -3rem;
            }

            @include breakpoint($mobile-break) {
              left: -1rem;
            }
          }
        }
      }

      .slick-list {
        width: calc(100% + 4rem);
        left: -2rem;

        @include breakpoint($tablet-break) {
          width: calc(100% + 2rem);
          left: -1rem;
        }
      }

      .slick-dots {
        margin: 0;
        padding: 0;
        margin-top: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;

        li {
          margin-right: 0.75rem;
          list-style: none;
          width: 0.5rem;
          height: 0.5rem;
          background: var(--white);
          opacity: 0.5;
          transition: $transition;
          border-radius: 100%;
          cursor: pointer;

          &.slick-active,
          &:hover {
            opacity: 1;
          }

          &:last-child {
            margin-right: 0;
          }

          button {
            display: none;
          }
        }
      }

      .post-card {
        margin: 0.25rem 2rem;
        outline: none !important;

        @include breakpoint($tablet-break) {
          margin: 0.25rem 1rem;
        }

        * {
          outline: none !important;
        }

        .post-card-wrapper {
          border-radius: 10px;
          overflow: hidden;
          background: var(--white);
          display: flex;
          flex-direction: column;
          @include box-shadow-dark-hover;

          .image {
            width: 100%;
            height: $col-vw * 1.5;
            position: relative;

            @include breakpoint($laptop-break) {
              height: $col-vw * 2.5;
            }
            @include breakpoint($tablet-break) {
              height: $col-vw * 3.5;
            }

            @include breakpoint($mobile-break) {
              height: $col-vw * 5.5;
            }

            img {
              position: absolute;
              height: 100%;
              width: 100%;
              left: 0;
              top: 0;
              object-fit: cover;
            }
          }

          .info {
            padding: 2rem;
          }
        }
      }
    }
  }
}

@include dark-mode {
  .home .now-what::after,
  .home .now-what .image .img-wrapper::after {
    filter: brightness(0.75);
  }

  .home .latest-news-row .slick-slider {
    .slick-arrow {
      background: $darkModeMedGray;
    }
  }

  .home .stories .articles-wrapper.slick-slider {
    .slick-arrow {
      background: $darkModeMedGray;
    }

    .post-card-wrapper {
      background: var(--gray);
    }
  }
}
