// Migrants - Marketing Style Sheet
.row {
    &.page-title {
        h1 {
            max-width: 36rem;

            @include breakpoint($tablet-break) {
                max-width: 27rem;
            }


            @include breakpoint($mobile-break) {
                max-width: 20rem;
            }
        }
    }

    &.collage {
        padding-left: ($col-vw * 2) !important;
        padding-right: ($col-vw * 2) !important;
        padding-bottom: $col-vw;

        @include breakpoint($mobile-break) {
            padding-left: $col-vw !important;
            padding-right: $col-vw !important;
        }
    }

    &.cards {
        padding-left: ($col-vw * 2) !important;
        padding-right: ($col-vw * 2) !important;

        @include breakpoint($mobile-break) {
            padding-left: ($col-vw * 3) !important;
            padding-right: ($col-vw * 3) !important;
        }


        .col-inner {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            .img-wrapper {
                width: calc(50% - #{$col-vw / 2});

                &:nth-child(2) {
                    transition-delay: 0.3s !important;

                    @include breakpoint($mobile-break) {
                        transition-delay: 0 !important;
                    }
                }

                @include breakpoint($mobile-break) {
                    width: 100%;

                    &:first-child {
                        padding-bottom: $col-vw;
                    }
                }
            }
        }
    }

    &.images-1 {
        @include breakpoint($mobile-break) {
            padding-left: $col !important;
            padding-right: $col !important;
        }


        .col-inner {
            display: flex;
            justify-content: space-between;
            flex-wrap: nowrap;

            @include breakpoint($mobile-break) {
                flex-wrap: wrap;
            }


            .img-wrapper {
                width: calc(50% - #{$col / 2});

                &:last-child {
                    padding-top: $col;
                    transition-delay: 0.3s !important;

                    @include breakpoint($mobile-break) {
                        transition-delay: 0 !important;
                    }
                }

                @include breakpoint($mobile-break) {
                    width: 100%;
                }
            }
        }
    }

    &.images-2 {
        padding-top: $col;
        padding-left: 0 !important;
        padding-right: 0 !important;

        .img-wrapper {
            margin-left: $col;
            width: $col * 5.5;

            @include breakpoint($mobile-break) {
                width: $col * 10;
                margin-right: $col;
            }
        }
    }

    &.images-3 {
        padding-top: $col;
        padding-left: 0 !important;
        padding-right: 0 !important;

        .col-inner {
            display: flex;
            justify-content: center;

            .img-wrapper {
                width: $col * 5.5;

                @include breakpoint($mobile-break) {
                    width: $col * 10;
                }
            }
        }
    }

    &.grid {
        .col {
            width: ($col-vw * 5.5) !important;

            @include breakpoint($mobile-break) {
                width: ($col-vw * 10) !important;
            }
        }

        h2 {
            padding-bottom: 2rem;

            @include breakpoint($tablet-break) {
                padding-bottom: 1.75rem;
            }


            @include breakpoint($mobile-break) {
                padding-bottom: 1.5rem;
            }
        }
    }
}