.article-content {
  margin-top: 100px;
  padding: $col-vw/2 $col-vw * 3 $col-vw;

  @include breakpoint($laptop-break) {
    padding: $col-vw/2 $col-vw * 2 $col-vw;
  }

  @include breakpoint($mobile-break) {
    padding: $col-vw;
  }

  img {
    margin-bottom: 2rem;
  }

  h1 {
    margin-bottom: 2rem;
  }

  .button {
    margin-top: 0;
    margin-bottom: 2rem;
  }
}
