@import "utility/breakpoint";
@import "utility/variables";
@import "utility/darkmode";
@import "utility/typography";
@import "utility/mixins";
@import "utility/vendors/lity";
@import "utility/vendors/slick";
@import "vendors/aos";
@import "pages/base";

.home {
  @import "pages/home";
}

.page-id-12 {
  @import "pages/about";
}

.page-id-14 {
  @import "pages/contact";
}

@import "pages/resources/getting-started";
@import "pages/resources/resources";
@import "pages/faq";
@import "pages/studies";
@import "pages/education-methods/education-methods-archive";
@import "pages/education-methods/education-methods-single";

.error404 {
  @import "pages/error404";
}

.search {
  @import "pages/search";
}

@media print {
  @import "utility/print";
}
