@import "utility/breakpoint";
@import "utility/variables";
@import "utility/darkmode";
@import "utility/typography";
@import "utility/mixins";
@import "vendors/aos";
@import "pages/base";

.home {
  @import "pages/home";
}

.page-id-12 {
  @import "pages/about";
}

.page-id-14 {
  @import "pages/contact";
}

@import "pages/resources/getting-started";

.error404 {
  @import "pages/error404";
}

.post-template-single-gallery {
  @import "pages/single-gallery";
}

@media print {
  @import "utility/print";
}
