.single-education_methods {
  .the-info {
    padding-top: $col-vw/2;
    padding-left: $col-vw * 2;
    padding-right: $col-vw * 2;

    @include breakpoint($laptop-break) {
      padding-left: $col-vw;
      padding-right: $col-vw;
    }

    @include breakpoint($mobile-break) {
      padding-top: $col-vw;
    }

    .first {
      padding-right: $col-vw/2;

      @include breakpoint($tablet-break) {
        padding-right: 0;
        margin-bottom: $col-vw;
      }

      .text-wrapper {
        @include breakpoint($tablet-break) {
          padding-left: $col-vw;
          padding-right: $col-vw;
        }
        @include breakpoint($mobile-break) {
          padding-left: 0;
          padding-right: 0;
        }
      }

      .img-wrapper {
        margin-top: $col-vw / 2;
        padding-top: $col-vw / 4;
        position: relative;
        width: calc(100% + #{$col-vw});
        left: -$col-vw;

        @include breakpoint($laptop-break) {
          width: calc(100% + #{$col-vw/2});
          left: -$col-vw;
        }

        @include breakpoint($tablet-break) {
          width: 100%;
          left: 0;
          margin-top: $col-vw;
          padding-top: $col-vw / 2;
        }

        &::before {
          content: "";
          width: $col-vw * 5.25;
          height: $col-vw;
          background: var(--green);
          position: absolute;
          top: 0;
          left: -$col-vw;
          z-index: 2;

          @include breakpoint($laptop-break) {
            width: $col-vw * 5.5;
            left: -$col-vw;
          }

          @include breakpoint($tablet-break) {
            width: $col-vw * 10.5;
            height: $col-vw * 2;
          }
        }

        img {
          position: relative;
          z-index: 4;
        }
      }
    }
    .second {
      padding-left: $col-vw/2;

      @include breakpoint($tablet-break) {
        padding-left: $col-vw;
        padding-right: $col-vw;
      }

      @include breakpoint($mobile-break) {
        padding-left: 0;
        padding-right: 0;
      }

      .points-to-consider,
      .strengths {
        margin-bottom: 2rem;
      }
    }
  }
}
