.post-type-archive-education_methods {
  .row-inner {
    width: 100%;
  }
  .card-row {
    background: var(--gray);
    padding: $col-vw / 2 $col-vw * 2;
    padding-bottom: $col-vw/4;
    padding-right: $col-vw * 1.75;

    @include breakpoint($laptop-break) {
      padding: $col-vw / 2 $col-vw;
      padding-bottom: $col-vw/4;
      padding-right: $col-vw * 0.75;
    }

    @include breakpoint($mobile-break) {
      padding: $col-vw;
      padding-bottom: $col-vw/2;
    }

    .col {
      width: 100%;
    }

    .text-wrapper {
      margin-bottom: 2rem;
      width: $col-vw * 4;

      @include breakpoint($laptop-break) {
        width: $col-vw * 5.5;
      }

      @include breakpoint($tablet-break) {
        width: $col-vw * 8;
      }

      @include breakpoint($mobile-break) {
        width: 100%;
        margin-left: 0;
      }
    }

    .search-filter {
      input {
        background: var(--white);
      }
    }
  }

  .method-wrappers {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .method-card {
    width: calc(100% / 3 - #{$col-vw / 4});
    margin-right: $col-vw/4;
    margin-bottom: $col-vw/4;

    @include breakpoint($tablet-break) {
      width: calc(100% / 2 - #{$col-vw / 4});
    }

    @include breakpoint($mobile-break) {
      width: calc(100%);
      margin-right: 0;
      margin-bottom: $col-vw/2;
    }

    a {
      background: var(--white);
      border-radius: 10px;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      @include box-shadow-dark-hover;

      &:hover {
        .image::before {
          opacity: 0.25;
        }
      }

      p {
        margin-top: 0.25rem;
        color: var(--p);
      }
    }

    .image {
      position: relative;
      line-height: 0;

      &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background: var(--blue);
        opacity: 0.5;
        transition: $transition;
      }
      img {
        line-height: 0;
        width: 100%;
        height: $col-vw * 1.25;
        object-fit: cover;

        @include breakpoint($tablet-break) {
          height: $col-vw * 1.75;
        }

        @include breakpoint($mobile-break) {
          height: $col-vw * 3.25;
        }
      }
    }

    .info {
      padding: 0.75rem 1rem;
    }
  }

  .still-have-questions {
    padding-top: $col-vw / 4;
    position: relative;

    @include breakpoint($tablet-break) {
      padding-top: $col-vw / 2;
    }

    &::before {
      content: "";
      width: $col-vw * 8.75;
      height: $col-vw;
      right: 0;
      top: 0;
      background: var(--green);
      position: absolute;
      z-index: 2;

      @include breakpoint($laptop-break) {
        width: $col-vw * 9.75;
      }

      @include breakpoint($tablet-break) {
        width: $col-vw * 10.75;
        height: $col-vw * 2;
      }

      @include breakpoint($mobile-break) {
        width: $col-vw * 10.5;
      }
    }

    &::after {
      content: "";
      width: 100%;
      height: $col-vw * 0.75;
      right: 0;
      top: 0;
      background: var(--gray);
      position: absolute;
      z-index: 1;

      @include breakpoint($tablet-break) {
        height: $col-vw * 1.25;
      }
    }

    .row-inner {
      position: relative;
      z-index: 4;
    }
  }
}
