// Animations Style Sheet
//scroll animations
[data-aos='fade-in'] {
    opacity: 0;
    transform: translateY(-1.65rem);
    transition-property: transform, opacity;
    will-change: opacity, transform;
    transition: $transition-slow !important;
    box-shadow: 0 0 0;

    &.aos-animate {
        opacity: 1;
        transform: translateY(0);
    }
}

[data-aos='fade-up'] {
    opacity: 0;
    transform: translateY(1.65rem);
    transition-property: transform, opacity;
    will-change: opacity, transform;
    transition: $transition-slow !important;
    box-shadow: 0 0 0;

    &.aos-animate {
        opacity: 1;
        transform: translateY(0);
    }
}

[data-aos='image-up'] {
    opacity: 0;
    transform: translateY(4.25rem);
    transition-property: transform, opacity;
    will-change: opacity, transform;
    transition: $transition-slow !important;

    &.aos-animate {
        opacity: 1;
        transform: translateY(0);
    }
}

[data-aos='fade'] {
    transform: scaleY(0);
    transform-origin: bottom;
    transition-property: transform;
    will-change: transform;
    transition: $transition-slow;

    .text-wrapper {
        opacity: 0;
        transition-property: opacity;
        will-change: opacity;
        transition: $transition-slow;
    }

    &.aos-animate {
        transform: scaleY(1) !important;

        .text-wrapper {
            opacity: 1;
        }
    }
}

[data-aos='swatch'] {
    opacity: 0;
    transition-property: opacity;
    will-change: opacity;
    transition: $transition-slow;

    &.aos-animate {
        opacity: 1;
    }
}

// logo hover animation

// mobile-menu animation
body {
    &.mobile-active {
        overflow: hidden;
    }

    &.is-exiting {
        .page-transition {
            opacity: 1;
            visibility: visible;
        }

        &.on-progress {
            .page-transition {
                .img-wrapper {
                    opacity: 1;
                }
            }
        }
    }

    .page-transition {
        position: absolute;
        width: 100vw;
        height: 100vh;
        background: $white;
        z-index: 9999;
        left: 0;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        pointer-events: none;
        opacity: 0;
        visibility: hidden;
        transition: $transition;

        .img-wrapper {
            position: relative;
            transition: $transition;

            &::before,
            &::after {
                content: '';
                width: $col-vw * 0.75;
                height: 100%;
                position: absolute;
                top: 0;
            }

            &::before {
                left: 0;
                background: linear-gradient(to right, $white 0%, transparentize($white, 1) 100%);
            }

            &::after {
                right: 0;
                background: linear-gradient(to left, $white 0%, transparentize($white, 1) 100%);
            }

            img {
                width: $col-vw * 4;

                @include breakpoint($tablet-break) {
                    width: $col-vw * 6;
                }


                @include breakpoint($mobile-break) {
                    width: $col-vw * 8;
                }
            }
        }
    }
}