// Button Style Sheet
// Primary
.button {
  font-size: 1rem;
  line-height: 1.25em;
  padding: 0.625em 1.5em;
  background: var(--green);
  display: inline-block;
  color: var(--white);
  font-family: $sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 700;
  border-radius: 5px;
  @include box-shadow-dark-hover;
  margin-top: 2rem;

  &:hover {
    background: var(--highlight-green);
  }

  &.secondary,
  &.secondray,
  &.download,
  &.downlaod,
  &.pdf,
  &.document,
  &.redirect,
  &.external {
    padding: 0;
    background: transparent;
    box-shadow: none;
    color: var(--p);
    text-transform: none;
    letter-spacing: initial;

    svg {
      margin-left: 0.5rem;
    }
  }

  &.secondary,
  &.secondray {
    &:hover {
      svg {
        transform: translateX(0.5rem);
      }
    }
  }

  &.download,
  &.downlaod,
  &.pdf,
  &.document {
    svg .arrow {
      transition: $transition;
    }
    // CONVERT TO CSS ANIMATION
    &:hover {
      svg .arrow {
        transform: translateY(0.188rem);
      }
    }
  }

  &.redirect,
  &.external {
    svg .arrow {
      transition: $transition;
    }
    // CONVERT TO CSS ANIMATION
    &:hover {
      svg .arrow {
        transform: translate(-0.188rem, 0.188rem);
      }
    }

    svg {
      width: 0.813rem;
      height: auto;
    }
  }
}

@include dark-mode {
  .button {
    color: $darkModeWhite;
  }
}
