.search-filter-wrapper {
  margin-bottom: 1rem;
  display: inline-block;
  position: relative;
  .search-filter-input {
    padding: 0.5rem 0.75rem;
    padding-right: 2.75rem;

    @include box-shadow-light-hover;
    outline: none;
    background: none;
    background: var(--gray);
    border: none;
    border-image: none;
    border-radius: 5px;
    font-size: 0.85rem;
    height: 2.25rem;
    line-height: 1;
    font-family: $sans-serif;

    &:focus {
      box-shadow: 0 3px 8px rgba(0, 0, 0, 0.16);
    }
  }

  svg {
    color: var(--blue);
    position: absolute;
    right: 0.75rem;
    top: 50%;
    transform: translateY(-50%);
    width: 0.75rem;
    height: auto;
    pointer-events: none;
  }
}

.no-items-found {
  margin-top: 1rem;
}
