// Footer Style Sheet
footer {
  display: flex;
  align-items: center;
  justify-content: center;

  .footer-inner {
    width: 100%;
  }

  p {
    font-size: 0.7rem;
    line-height: 1.5em;
    opacity: 0.8;

    a {
      color: $white;

      &:hover {
        color: var(--green);
      }
    }
  }

  .footer-top {
    background: var(--gray);
    padding-top: $col-vw/2 !important;
    padding-bottom: $col-vw/2 !important;

    @include breakpoint($tablet-break) {
      padding-top: $col-vw !important;
      padding-bottom: $col-vw !important;
    }

    .footer-top-inner {
      display: flex;

      @include breakpoint($tablet-break) {
        flex-wrap: wrap;
      }

      .col-inner {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        @include breakpoint($tablet-break) {
          align-items: center;

          .main-menu {
            width: 100%;
          }
        }
      }
    }

    .logo {
      margin-bottom: 2.5rem;

      @include breakpoint($tablet-break) {
        margin-bottom: 1rem;
      }
    }
    .logo {
      img {
        max-width: 160px;
      }
    }

    .cche-logo {
      img {
        max-width: 110px;
      }
    }
    .col {
      @include breakpoint($mobile-break) {
        text-align: center;
      }

      &:first-child {
        @include breakpoint($laptop-break) {
          width: $col-vw * 3;
        }
        @include breakpoint($tablet-break) {
          margin-bottom: $col-vw;
          width: $col-vw * 10;
        }

        @include breakpoint($mobile-break) {
          margin-bottom: 3rem;
          width: $col-vw * 11;
        }
      }

      &:last-child {
        @include breakpoint($laptop-break) {
          width: $col-vw * 7;
        }
        @include breakpoint($tablet-break) {
          width: $col-vw * 10;
        }
        @include breakpoint($mobile-break) {
          width: $col-vw * 11;
        }
      }

      .col-inner {
        > .main-menu {
          > ul {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            height: 24.5rem;

            @include breakpoint($mobile-break) {
              height: auto;
            }

            > li {
              &:nth-child(2) {
                margin-bottom: 0;

                @include breakpoint($mobile-break) {
                  margin-bottom: 0.75rem;
                }
              }
            }
          }
        }
      }
    }
  }

  .social-media {
    li {
      margin-right: 0.75rem;

      &:last-child {
        margin-right: 0;
      }
      a {
        padding-bottom: 0;

        &:hover {
          color: var(--blue);
        }
        &::before {
          display: none;
        }

        svg {
          height: 1.25rem;
          width: auto;
          margin-left: 0;
          path {
            fill: currentColor;
          }
        }
      }
    }
  }

  nav {
    ul {
      margin: 0;
      padding: 0;
      li {
        margin-bottom: 1rem;
        list-style: none;
        @include breakpoint($mobile-break) {
          margin-bottom: 0.75rem;
        }

        &.current-menu-item {
          > a {
            &::before {
              transform: scaleX(1);
            }
          }
        }
        a {
          font-size: 1.125em;
          line-height: 1.5;
          padding-bottom: 1px;
          color: var(--p);
          font-weight: 700;
          display: inline-block;
          position: relative;

          @include breakpoint($tablet-break) {
            font-size: 1rem;
            line-height: 1.5;
          }

          @include breakpoint($mobile-break) {
            padding-bottom: 3px;
          }

          &::before {
            content: "";
            width: 100%;
            height: 2px;
            background: var(--blue);
            position: absolute;
            left: 0;
            bottom: 0;
            transform: scaleX(0);
            transform-origin: left;
            transition: $transition;
          }

          &:hover {
            &::before {
              transform: scaleX(1);
            }
          }

          svg {
            width: 0.7em;
            height: auto;
            margin-left: 0.5rem;
          }
        }

        nav {
          margin-top: 1rem;
          @include breakpoint($mobile-break) {
            margin-top: 0.75rem;
          }
          li {
            &:last-child {
              margin-bottom: 0;
            }
          }

          a {
            font-weight: 400;
          }
        }
      }
    }
  }

  .footer-bottom {
    border-top: 4px solid var(--green);
    background: $color-p;
    color: var(--white);
    padding-top: 3rem;
    padding-bottom: 3rem;

    .footer-bottom-inner {
      display: flex;
      flex-wrap: wrap;

      .col-right {
        text-align: right;

        @include breakpoint($tablet-break) {
          padding-top: 1.5rem;
          text-align: left;
        }
      }
    }
    .main-menu {
      ul li a {
        font-size: 0.85rem;
        color: var(--white);
        opacity: 0.5;

        &:hover {
          opacity: 0.75;
        }
      }
    }
  }
}

// darkmode
@include dark-mode {
  footer {
    .footer-bottom {
      background: $darkModeBlack;
      color: $darkModeWhite;
      .main-menu {
        ul li a {
          color: $darkModeWhite;
        }
      }
    }
  }
}
