.wForm {
  form {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    // checkboxes
    > .oneField {
      width: 60%;
      margin: 0 !important;
      border: none;

      @include breakpoint($tablet-break) {
        width: 100%;
      }

      br {
        display: none;
      }

      > .label:not(#yes) {
        font: $h3 !important;

        margin: 0 !important;
        padding: 0 !important;
        margin-bottom: 0.75rem !important;

        b {
          font-weight: 700 !important;
          color: var(--blue);
        }
      }

      .choices {
        column-count: 2;
        column-gap: 1rem;
        display: block;

        .oneChoice {
          display: block;
          padding-top: 0.75rem;
          margin: 0;

          input {
            display: none;

            &:checked {
              + label {
                &::after {
                  opacity: 1;
                }
              }
            }
          }

          label {
            display: block;
            position: relative;
            padding-left: 1.25rem;
            font-size: 0.85rem;
            margin: 0;
            font-family: $sans-serif;
            line-height: 1.5;

            &::before {
              width: 0.75rem;
              height: 0.75rem;
              content: "";
              border-radius: 5px;
              position: absolute;
              border: 1px solid var(--blue);
              background: transparent;
              top: 50%;
              left: 0;
              transform: translateY(-50%);
            }

            &::after {
              width: 0.75rem;
              height: 0.75rem;
              content: "";
              border-radius: 5px;
              position: absolute;
              background: var(--blue);
              border: 1px solid var(--blue);
              top: 50%;
              left: 0;
              transform: translateY(-50%);
              opacity: 0;
              transition: $transition;
            }
          }
        }
      }
    }

    > .section.group {
      width: 40%;
      margin: 0 !important;
      padding-left: 2rem;

      @include breakpoint($tablet-break) {
        width: 100%;
        margin-top: 1rem !important;
        padding-left: 0rem;
        display: flex;
        flex-wrap: wrap;
      }

      .oneField[id*="tfa"]:not(#yes) {
        margin-top: 0.75rem !important;

        .inputWrapper {
          width: 100%;
        }

        @include breakpoint($tablet-break) {
          &:nth-child(1),
          &:nth-child(2) {
            width: 50% !important;
          }
          &:nth-child(1) {
            padding-right: calc(0.75rem / 2) !important;
          }

          &:nth-child(2) {
            padding-left: calc(0.75rem / 2) !important;
          }

          &:nth-child(3) {
            width: 100% !important;
          }
        }
      }

      input:not(#yes) {
        width: 100% !important;
        padding: 0.5rem 0.75rem;
        padding-right: 2.75rem;
        @include box-shadow-dark-hover;
        outline: none;
        background: none;
        background: var(--gray);
        border: none;
        border-image: none;
        border-radius: 5px;
        font-size: 0.85rem;
        height: 2.25rem;
        line-height: 1;
        font-family: $sans-serif;

        &:focus {
          box-shadow: 0 3px 8px rgba(0, 0, 0, 0.16);
        }
      }
    }

    .actions {
      width: 100%;
      display: flex;
      padding: 0;
      margin: 0;
      border: none;
      justify-content: flex-end;

      #submit_button {
        @include button;
        width: auto !important;
      }
    }
  }
}

@include dark-mode {
  #submit_button {
    color: $darkModeWhite !important;
  }
}
