// Page Title Style Sheet
.row {
    &.page-title {
        height: $col-vw * 5;

        @include breakpoint($laptop-break) {
            height: $col-vw * 6;
        }


        @include breakpoint($tablet-break) {
            height: calc(100vh - 100px);
        }


        @include breakpoint($mobile-break) {
            height: $col-vw * 11;
        }


        .row-inner {
            height: 100%;
            align-items: flex-start;

            @include breakpoint($tablet-break) {
                align-items: center;
            }


            .col {
                padding-bottom: 0;
                padding-top: $col-vw * 2;

                @include breakpoint($tablet-break) {
                    padding: 0;
                }


                h1,
                p {
                    color: $white;
                }

                p {
                    letter-spacing: calc(25em / 1000);
                    padding-bottom: 1rem;
                }
            }
        }
    }
}