.stay-informed-row {
  .row-inner {
    width: 100%;
  }
  .col {
    width: 100%;
  }

  .wForm {
    form {
      > .oneField {
        .inputWrapper {
          width: 100%;
        }
        > .label:not(#yes) {
          b {
            color: var(--p) !important;
            opacity: 0.8;
          }
        }
      }
      > .section.group {
        display: flex;
        flex-wrap: wrap;
        .oneField[id*="tfa"]:not(#yes) {
          &:nth-last-child(3),
          &:nth-last-child(2) {
            width: 50% !important;
          }
          &:nth-last-child(3) {
            padding-right: calc(0.75rem / 2) !important;
          }

          &:nth-last-child(2) {
            padding-left: calc(0.75rem / 2) !important;
          }

          &:nth-last-child(1) {
            width: 100% !important;
          }
        }
      }
    }
  }
}
