.row.heading {
  min-height: $col-vw * 2.25;
  display: flex;
  align-items: flex-end;
  @include bg-cover;
  position: relative;
  margin-top: 100px;

  @include breakpoint($tablet-break) {
    margin-top: 70px;
  }

  &::after {
    content: "";
    width: 100%;
    height: 10rem;
    position: absolute;
    left: 0;
    bottom: 0;
    background: linear-gradient(
      180deg,
      transparentize($white, 1) 0%,
      transparentize($color2, 0.1) 100%
    );
    z-index: 2;
  }

  @include breakpoint($tablet-break) {
    min-height: $col-vw * 3;
  }

  @include breakpoint($mobile-break) {
    min-height: 15rem;
  }

  .row-inner {
    position: relative;
    z-index: 4;
  }

  .col {
    padding-bottom: 3rem;
    padding-top: 6rem;

    @include breakpoint($tablet-break) {
      padding-bottom: $col-vw;
      padding-left: $col-vw;
      padding-right: $col-vw;
    }

    @include breakpoint($mobile-break) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  h5 {
    color: var(--white);
    margin-bottom: 0.5rem;
  }
}

// darkmode
@include dark-mode {
  .row.heading {
    h5 {
      color: $darkModeWhite;
    }
    h1 {
      color: $darkModeWhite;
    }
  }
}
