// Row and Columns Style Sheet

// columns
.col {
  background-size: cover;
  background-position: center;

  @include breakpoint($tablet-break) {
    width: 100% !important;
  }

  &.text-center,
  &.center-text {
    text-align: center;
  }

  @mixin width($width) {
    width: calc(100% / 12 * #{$width});
  }

  @for $i from 1 through 12 {
    &.col-#{$i} {
      @include width($i);
    }
  }
}
