.stay-informed-row {
  .row-inner {
    width: 100%;
  }
  .col {
    width: 100%;
  }

  .wForm {
    form {
      > .oneField {
        > .label:not(#yes) {
          b {
            color: var(--p) !important;
            opacity: 0.8;
          }
        }
      }
    }
  }
}
