.tabs {
  .tab-inner {
    .tab-nav {
      width: 100%;
      overflow: hidden;
      .tab-nav-inner {
        display: flex;
        padding: 0;
        margin: 0;
        margin-bottom: 2rem;
        overflow: auto;

        li {
          list-style: none;
          overflow: visible;
        }

        button {
          white-space: nowrap;
          color: var(--p);
          border-radius: 5px;
          background: transparent;
          border: none;
          font-size: 1rem;
          line-height: 1rem;
          padding: 0.65rem 1.15rem;
          font-family: $sans-serif;
          font-weight: 700;
          cursor: pointer;
          margin-right: 0.25rem;
          transition: $transition;
          outline: none;

          &:last-child {
            margin-bottom: 0;
          }

          &:hover {
            color: var(--blue);
          }

          &.active {
            color: var(--white);
            background: var(--blue);
            @include box-shadow;
            &:hover {
              color: var(--white);
            }
          }
        }
      }
    }
    .tab-bodies {
      width: 100%;
      .tab-body {
        display: none;

        &.active {
          display: block;
          animation: fade-in 0.5s;
          animation-fill-mode: forwards;

          @at-root {
            @keyframes fade-in {
              from {
                transform: translateY(10px);
                opacity: 0;
              }

              to {
                transform: translateY(0);
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }
}
