// Typography Style Sheet
html {
  font-size: 16px;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;

  @include breakpoint($mobile-break) {
    font-size: 14px;
  }
}

body {
  font: $body-font;
  font-size: 100%;
  color: var(--p);
  margin: 0;
  padding: 0;
  width: calc(100vw - (100vw - 100%));
  background: var(--white);

  // overflow: hidden;
  // position: relative;
  * {
    box-sizing: border-box;
  }
}

video {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--blue);

  &.white {
    color: var(--white);
  }
}

a {
  color: var(--blue);
  -webkit-font-smoothing: antialiased;
  transform: translateZ(0);
  backface-visibility: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
  text-decoration: none;
  transition: $transition;
}

p {
  a {
    text-decoration: underline;

    &:hover {
      filter: brightness(150%);
    }
  }
}
