.wq-quiz.personality_quiz {
  .wq-question {
    margin-bottom: $col-vw / 2;

    @include breakpoint($tablet-break) {
      margin-bottom: $col-vw;
    }

    &:last-child {
      margin-bottom: 0 !important;
    }
    .wq_questionMediaCtr {
      display: none;
    }

    .wq_questionTextCtr {
      background-color: transparent !important;
      padding: 0 !important;
      margin-bottom: 1rem;

      h4 {
        font: $h4;
      }
    }

    .wq_answersWrapper {
      .wq_singleAnswerCtr {
        padding: 0;
        background-color: transparent !important;
        border: none;

        label {
          &::before,
          &::after {
            border-color: var(--green);
          }
        }
      }
    }
  }

  .wq-results {
    padding: 0;
    background-color: transparent !important;
    border: none;
    margin-top: 2rem;

    .wq-result-quiz-title {
      display: none;
    }

    .wq-result-title {
      font: $h3;
    }
    .gform_wrapper {
      margin: 0;
      margin-top: 2rem;
    }
    .gform_footer {
      align-items: flex-start;
    }

    .gform_wrapper
      input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not([type="button"]):not([type="image"]):not([type="file"]) {
      width: auto !important;
    }
    .gform_button {
      margin: 0 !important;
      margin-top: 2rem !important;
    }
  }
  .wq-retake-quiz-btn {
    br {
      display: none;
    }
  }
}
