{% extends "base.twig" %}
{% import 'partial/ui.twig' as ui %}

{% block content %}
	<section class='row row-1'>
		<div class='row-inner'>
			<div class='col col-5'>
				<div class='col-inner'>
					{{ ui.p(options.page_404.text) }}
					{{ ui.button(options.page_404.button.title, options.page_404.button.url) }}
				</div>
			</div>
			<div class='col col-5'>
				<div class='col-inner'>
					{# {{ui.img(options.page_404.image, '404')}} #}
				</div>
			</div>
		</div>
	</section>
{% endblock %}
