<section class='row'>
  <div class='row-inner'>
    <div class='col x-lrg-col-5 lrg-col-5 med-col-10 sml-col-10'>
      <div class='col-inner'>
        Still have questions?
      </div>
    </div>
  </div>
</section>