{% import 'partial/ui.twig' as ui %}


<section class='row still-have-questions'>
  <div class='row-inner'>
    <div class='col x-lrg-col-6 lrg-col-8 med-col-10 sml-col-10 top-pad-0-5 bottom-pad-0-5 x-lrg-pad-right-1 x-lrg-pad-left-1'>
      <div class='col-inner'>
        {{ ui.p(options.still_have_questions.text) }}
        {{ ui.button(options.still_have_questions.button, 'secondary') }}
      </div>
    </div>
  </div>
</section>