<section class='row stay-informed-row top-pad-1 bottom-pad-1 x-lrg-pad-right-1 x-lrg-pad-left-1 '>
  <div class='row-inner'>
    <div class='col x-lrg-col-10 lrg-col-11 med-col-10  x-lrg-pad-right-1 x-lrg-pad-left-1  lrg-pad-right-0 lrg-pad-left-0'>
      <div class='col-inner'>
        <h2>Stay Informed</h2>
        {% include "partial/stay-informed-form.twig" with { form_shortcode: form_shortcode } %} 
      </div>
    </div>
  </div>
</section>