<section class='row heading x-lrg-pad-left-2 x-lrg-pad-right-2 lrg-pad-left-1 lrg-pad-right-1 sml-pad-left-1 sml-pad-right-1' style="background-image:url('{{ image }}');">
  <div class='row-inner'>
    <div class='col x-lrg-col-8 lrg-col-10 sml-col-11 '>
      <div class='col-inner'>
        {% if post.post_type == 'education_methods' %}<h5>{{ post.type.label }}</h5>{% endif %}
        <h1 class="white">{% if post.label %}{{ post.label }}{% else %}{{ post.title }}{% endif %}</h1>
      </div>
    </div>
  </div>
</section>